.navItemsCollapsible {
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.navItemsCollapsible .listItemsCollapsible {
    color: black;
    text-decoration: none;
    font-size: 1.3em;
    font-family: 'Rubik';
    line-height: 1.5em;
    cursor: pointer;
}

@media screen and (min-width: 1250px) {
    .navItems {
        font-size: 15px;
    }
}

@media screen and (max-width: 1250px) {
    .navItems {
        font-size: 13px;
    }
}

@media screen and (max-width: 1060px) {
    .navItems {
        font-size: 11px;
    }
}