.navProfileCollapsible {
    align-self: center;
    display: block;
}

.iconCollapsible.profilePhotoCollapsible {
    height: 15vh;
    margin-left: 1.2vw;
    padding: 0;
    border: 2px solid black;
    border-radius: 50%;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}