.navItems .listItems {
    margin-left: 2vw;
    margin-right: 2vw;
    color: black;
    text-decoration: none;
    font-size: 1.6em;
    font-family: 'Rubik';
    font-weight: 600;
    position: relative;
    top: 1.5vh;
}

@media screen and (min-width: 1250px) {
    .navItems {
        font-size: 15px;
    }
}

@media screen and (max-width: 1250px) {
    .navItems {
        font-size: 13px;
    }
}

@media screen and (max-width: 1060px) {
    .navItems {
        font-size: 11px;
    }
}