.icon.notificationBell {
    height: 5vh;
    margin-top: 0px;
    padding: 0px;
    position: relative;
    bottom: 3px;
}

.icon.profilePhoto {
    height: 5.5vh;
    margin-left: 1.2vw;
    padding: 0;
    border: 2px solid black;
    border-radius: 50%;
}