.button {
    width: 27%;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    background-color: #ffffff;
    font-size: 12px;
    letter-spacing: unset !important;

    margin-top: 10px;
    margin-bottom: 2px;
}

.button p {
    margin-top: 2px;
    margin-bottom: 2px;
    color: #333333;
    font-weight: 500;
    font-family: 'Rubik';
    font-size: 1.2em;
}

.button.green {
    box-shadow: none;
    border: 2px solid #1D4266;
}

.button.red {
    box-shadow: none;
    border: 2px solid #CC4040;
}

@media screen and (max-width: 1324px) {
    .button {
        width: 25%;
        font-size: 10.5px;
    }
}

@media screen and (max-width: 1250px) {
    .button {
        width: 24%;
        font-size: 10px;
    }
}

@media screen and (max-width: 1060px) {
    .button {
        width: 26%;
    }
}

@media screen and (max-width: 1000px) {
    .button {
        width: 27%;
    }
}

@media screen and (max-width: 900px) {
    .button {
        width: 30%;
    }
}

@media screen and (max-width: 800px) {
    .button {
        width: 33%;
    }
}

@media screen and (max-width: 700px) {
    .button {
        width: 36%;
    }
}

.save-btn {
    width: 15%;
    position: relative;
    left: 85%;
    border: 2px solid #4461A7;
}

@media screen and (max-width: 550px) {
    .button {
        width: 100%;
        font-size: 10px;
    }

    .save-btn {
        width: 35%;
        left: 65%;
    }
}

