.card {
    width: 100%;
    padding: 5vh 3vw; 
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.icon.profilePhoto.lg {
    height: 20vh;
    margin-left: 1.2vw;
    padding: 0;
    border: 2px solid black;
    border-radius: 50%;
}

.edit-card-header {
    display: flex;
    flex-direction: row;
}

.header-info {
    margin-left: 5%;
}

.header-info h2 {
    font-family: 'Rubik';
    font-weight: 600;
    font-size: 2.3em;
    margin-top: 0%;
    margin-bottom: 0%;
    color: #333333;
}

.header-info h5 {
    font-family: 'Rubik';
    font-weight: normal;
    font-size: 1.5em;
    margin-top: 1%;
    margin-bottom: 0%;
    color: #999999;
}

@media screen and (max-width: 1250px) {
    .header-info {
        font-size: 14px;
    }
}

@media screen and (max-width: 1024px) {
    .header-info {
        font-size: 12px;
    }
}

@media screen and (max-width: 950px) {
    .header-info {
        font-size: 10px;
    }
}

@media screen and (max-width: 660px) {
    .header-info {
        font-size: 8px;
    }
}

@media screen and (max-width: 550px) {
    .edit-card-header {
        flex-direction: column;
        justify-content: center;
        margin-bottom: 5vh;
    }

    .edit-card-header .header-pp, .edit-card-header .header-info {
        margin: 0;
        align-self: center;
        align-content: center;
        text-align: center;
    }
}