.EditProfileForm {
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.form-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-input {
    width: 48%;
}

.form-input input {
    width: 100%;
    height: 3.75vh;
    background: #FCFCFC;
    border: 1px solid #BBB2C4;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: 'Rubik';
    padding-left: 5px;
}

.form-input label {
    font-family: 'Rubik';
    display: block;
    margin-bottom: 1vh;
    font-size: 1em;
}

.form-input.form-input-title {
    width: 100%;
    margin-bottom: 2vh;
}

.form-input.form-input-title input {
    width: 100%;
}

@media screen and (max-width: 550px) {
    .form-group {
        flex-direction: column;
    }

    .form-input {
        width: 100%;
    }

    .EditProfileForm {
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
}