.NavigationBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3vh 6.5vw 3vh 6vw;
}

@media screen and (max-width: 950px) {
    .NavigationBar {
        display: none;
    }
}