h3 {
    font-size: 1.3em;
    font-family: 'Rubik';
    font-weight: normal;
    margin-top: 5vh;
}

.EditProfileCard {
    padding: 1vh 25vw 10vh 23vw;
}

@media screen and (max-width: 1250px) {
    .EditProfileCard {
        padding-left: 18vw;
        padding-right: 20vw;
    }
}

@media screen and (max-width: 660px) {
    .EditProfileCard {
        padding-left: 5vw;
        padding-right: 5vw;
    }
}