.Background {
    background-color: #E5E5E5 !important;
    height: 100%;
}

.background-footer {
    width: 100%;
    position: absolute;
    bottom: -40%;
    z-index: -1;
}


@media screen and (max-width: 1250px) {
    .background-footer {
        bottom: -60%;
    }
}

@media screen and (max-width: 1024px) {
    .background-footer {
        bottom: -55%;
    }
}

@media screen and (max-width: 550px) {
    .background-footer {
        bottom: -90%;
    }
}